<!-- about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
 
    <title>Document</title>
</head>
 
<body>
    <nav>
        <h5><img src="../images/icon1.png" alt="Etb Image" style="max-width: 20px; max-height: 35px;"> Expense</img></h5>
 
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Logout</a></li>
 
        </ul>
      </nav>
     
    <!--Body-->
    <div class="container-fluid" id="Details">
      <div class="row" >
        <div class="col-md-6" style="margin-top: 50px;" >
          <h1 >What Is Expenses </h1>
          <p >Expenses refer to the costs or monetary outflows incurred by individuals,
            businesses, or organizations as a result of their activities. These costs are
            typically associated with the consumption of goods and services, the operation of businesses,
            or the maintenance of personal lifestyles. Expenses can be categorized into various types
            based on their nature and frequency.</p>
        </div>    
        <div class="col-md-6" style="margin-top: 50px;">
        <h1 >What Is Report </h1>
        <p >A report in the context of expenses typically refers to a document or presentation that
             provides a detailed overview of an individual's, a business's, or an organization's
             financial expenditures over a specific period. Reports on expenses are essential for
             financial management and decision-making.</p>
        </div>
        <div class="col-md-6">
            <h1 >What Is Advance Expenses </h1>
            <p >Advance expenses" typically refer to payments made in advance for goods or services
                that will be received or utilized in the future. This can apply to both personal and
                business contexts. The concept involves paying for something before actually receiving
                the benefits or using the resources.</p>
            </div>
           
        <div class="col-md-6">
            <h1 >What Is Analytics </h1>
            <p >"Analytics in expenses" refers to the use of data analysis techniques and tools to gain
                 insights, identify patterns, and make informed decisions related to financial expenditures.
                 This analytical approach is commonly applied in both personal finance and business settings
                 to better understand, optimize, and control expenses.</p>
        </div>
        <div class="col-md-6">
            <h1 >What Is User Role </h1>
            <p >In the context of expenses, the term "user role" refers to the specific responsibilities,
                permissions, and access levels assigned to individuals within a system or organization regarding
                expense-related activities. User roles help define and control what actions users are allowed to
                perform, ensuring proper management, authorization, and security in expense-related processes.
            </p>
        </div>
        <div class="col-md-6">
            <h1 >What Is User Access </h1>
            <p >User access in the context of expenses refers to the permissions and privileges granted to
                individuals within a system or platform that manages expense-related activities.
                Access controls ensure that users have appropriate levels of authorization to perform
                specific actions, view certain information, and interact with the expense management
                system in a way that aligns with their roles and responsibilities.
                </p>
         </div>      
        <div class="col-md-6">
          <h1 >What Is Approval </h1>
          <p >In the context of expenses , "approval" refers to the process of reviewing and authorizing
             expense reports submitted by individuals within an organization. Expense approval is a
             critical step in ensuring that incurred expenses comply with company policies, budgets,
              and guidelines before reimbursement or payment is made.
          </p>        
        </div>
        <div class="col-md-6">
            <h1 >What Is Expense Approval </h1>
            <p >In the context of expenses approval you can approve and reject the expenses form,
                "approval" refers to the process of reviewing and authorizing
               expense reports submitted by individuals within an organization. Expense approval is a
               critical step in ensuring that incurred expenses comply with company policies, budgets,
               and guidelines before reimbursement or payment is made.
            </p>        
        </div>          
       </div>
     </div>
   </body>
  </html>