<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <h5>Expense</h5>
    <ul>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <div id="sidebar" class="closed">
    <% if (loggedIn === 'user') { %>
    <a href="#" id="adminv">My View</a>
    <ul id="adminop" style="display: none;">
    <li><a href="/home"><img src="../images/home3.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp; Home</img> </a></li>
    <li><a href="/expenses"><img src="../images/bill1.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp; Expenses</img> </a></li>
    <li><a href="/reports"><img src="../images/report3.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Reports</img></a></li>
    <li><a href="/advance"><img src="../images/wallet2.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Advance</img></a></li>
    <li><a href="/approvals"><img src="../images/approval.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Approvals</img></a></li>
    <li><a href="/analytics"><img src="../images/analytics.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Analytics</img></a></li>
    <li><a href="/settings"><img src="../images/setting.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Setting</img></a> </li>
    </ul>
    <% } else if (loggedIn === 'admin') { %>
      <ul>
      <li> Admin View</li>
      <li><a href="/userRole"><img src="../images/userRole.png" alt="Etb Image" style="max-width: 25px; max-height: 18px;"> &nbsp;User Role</img></a></li>
      <li><a href="/expApprovals"><img src="../images/approval.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Expense Approvals</img> </a></li>
      <li><a href="/approvalTabs"><img src="../images/approved.png" alt="Etb Image" style="max-width: 25px; max-height: 18px;"> &nbsp;Approvals Tab</img> </a></li>
    </ul>
  <% } %>
</div>
<div id="menu-toggle">&#9776;</div>

 <!--Body-->

  <div class="container-fluid6" id="content1">
    <div id="header-container" >
      <div id="analytics-header">
        <h1>Analytics</h1>
      </div>
      <div id="search-bar">
        <select id="search-select">
          <option value="">Select Category</option>
          <option disabled>Expense</option>
          <option value="Expense Details">Expense Details</option>
          <option value="Expenses by Category">Expenses by Category</option>
          <option value="Expenses by Attendee">Expenses by Attendee</option>
          <option value="Expenses by Customer">Expenses by Customer</option>
          <option value="Expenses by Project">Expenses by Project</option>
          <option value="Expenses by Merchant">Expenses by Merchant</option>
          <option value="Expenses by Currency">Expenses by Currency</option>
          <option disabled>Reports</option>
          <option value="Expense Reports Details">Expense Reports Details</option>
          <option value="Policy Violations">Policy Violations</option>
          <option disabled>Trips</option>
          <option value="Trip Details">Trip Details</option>
          <option value="Trip Stage Summary">Trip Stage Summary</option>
          <option value="Trip Summary by Report Status">Trip Summary by Report Status</option>
          <option disabled>Activity</option>
          <option value="Activity Logs">Activity Logs</option>
        </select>
        <button onclick="filterCards()">Search</button>
      </div>
    </div>


    <div id="rep" class="row">
      <h1>EXPENSES</h1>
      <p>Know how much you've spent on business expenses by running analytics based on various parameters</p>
      <div class="col-md-4" >
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense Details</a></li>
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by Customer</a></li>
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by Currency</a></li>
      </div>
      <div class="col-md-4">
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by category</a></li>
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by Project</a></li>
      </div>
      <div class="col-md-4">
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by Attendee</a></li>
        <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
          &nbsp;</img><a href="">Expense by Merchant</a></li>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" id="Reports">
        <div class="card">
          <h1>REPORTS</h1>
          <p>View statistics of the expense reports you've created and resolve the policy violations in your reports</p>
          <ul>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Expense Reports Details</a></li>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Policy Violations</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6" id="Trips">
        <div class="card">
          <h1>TRIPS</h1>
          <p>Get a summary of the business trips you've undertaken and the statuses of your trips and trip reports</p>
          <ul>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Trip Details</a></li>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Trip Stage Summary</a></li>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Trip Summary by Report Status</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id="Activity">
        <div class="card">
          <h1>ACTIVITY</h1>
          <p>View all the activities you've performed in  Expense for a particular period</p>
          <ul>
            <li><img src="../images/star.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;">
              &nbsp;</img><a href="">Activity Logs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script>
    document.getElementById('menu-toggle').addEventListener('click', function () {
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content1');
        var adminList = document.getElementById('adminop');
        var adminOptions = document.getElementById('adminOptions');

        // Toggle the 'closed' class on the sidebar
        sidebar.classList.toggle('closed');

        // Toggle the 'open-sidebar' class on the content
        content.classList.toggle('open-sidebar');

        // Initially, hide adminOptions and show adminList
        adminList.style.display = 'block';
        adminOptions.style.display = 'none';
    });

    document.getElementById('adminView').addEventListener('click', function () {
        var adminOptions = document.getElementById('adminOptions');
        var adminList = document.getElementById('adminop');

        // Hide admin list and display admin view list
        adminList.style.display = 'none';
        adminOptions.style.display = 'block';
    });

    document.getElementById('adminv').addEventListener('click', function () {
        var adminOptions = document.getElementById('adminOptions');
        var adminList = document.getElementById('adminop');

        // Hide admin view list and display admin list
        adminOptions.style.display = 'none';
        adminList.style.display = 'block';
    });
</script>
  
</body>

</html>