<!-- userRole.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">	
    <title>Document</title>
</head>

<body>
    <nav>
        <h5>Expense</h5>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div id="sidebar" class="closed">
      <% if (loggedIn === 'user') { %>
      <a href="#" id="adminv">My View</a>
      <ul id="adminop" style="display: none;">
      <li><a href="/home"><img src="../images/home3.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp; Home</img> </a></li>
      <li><a href="/expenses"><img src="../images/bill1.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp; Expenses</img> </a></li>
      <li><a href="/reports"><img src="../images/report3.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Reports</img></a></li>
      <li><a href="/advance"><img src="../images/wallet2.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Advance</img></a></li>
      <li><a href="/approvals"><img src="../images/approval.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Approvals</img></a></li>
      <li><a href="/analytics"><img src="../images/analytics.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Analytics</img></a></li>
      <li><a href="/settings"><img src="../images/setting.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Setting</img></a> </li>
      </ul>
      <% } else if (loggedIn === 'admin') { %>
        <ul>
        <li> Admin View</li>
        <li><a href="/userRole"><img src="../images/userRole.png" alt="Etb Image" style="max-width: 25px; max-height: 18px;"> &nbsp;User Role</img></a></li>
        <li><a href="/expApprovals"><img src="../images/approval.png" alt="Etb Image" style="max-width: 15px; max-height: 18px;"> &nbsp;Expense Approvals</img> </a></li>
        <li><a href="/approvalTabs"><img src="../images/approved.png" alt="Etb Image" style="max-width: 25px; max-height: 18px;"> &nbsp;Approvals Tab</img> </a></li>
      </ul>
    <% } %>
  </div>
  <div id="menu-toggle">&#9776;</div>

    <!--Body-->
    <div class="container-fluid" id="backgroundimage" ><!-----changes-->
        <div class="row" >
          <div class="col-md-5 offset-md-3">
            <div class="card"style="margin-top: 50px;" >            
              <div class="card-header">User Role</div>     
                <div class="card-body">
                  <form method="POST" action="/userRole" id="form" >                         
                    <!-- Add this div to display error messages -->                     
                      <div class="mb-3 row" >
                          <label for="roleid" class="col-sm-3 col-form-label">Role Id</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" id="roleid" name="roleid" required>
                          </div>
                      </div>                      
                      <div class="mb-3 row">
                          <label for="rolename" class="col-sm-3 col-form-label">Role Name</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                            <select class="form-select" id="rolename" name="rolename" required>
                                <option value="" disabled selected>Select Role</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                        </div> 
                        </div> 
                        <div class="mb-3 row" >
                          <label for="email" class="col-sm-3 col-form-label">User Email</label>
                          <div class="col-sm-9">
                              <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                      </div>
                        <% if (errorMessage) { %>
                          <div class="alert alert-danger" role="alert">
                            <%= errorMessage %>
                          </div>
                        <% } %>                  
                      <div class="mb-3 row">
                          <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="button" class="btn btn-primary" id="cancelButton">Cancel</button>
                          </div>
                      </div>
                  </form>
                </div>
                </div>
              </div>
          </div>
      </div>
    
    

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
	  <script>
      document.getElementById('menu-toggle').addEventListener('click', function () {
          var sidebar = document.getElementById('sidebar');
          var content = document.getElementById('backgroundimage');
          var adminList = document.getElementById('adminop');
          var adminOptions = document.getElementById('adminOptions');

          // Toggle the 'closed' class on the sidebar
          sidebar.classList.toggle('closed');

          // Toggle the 'open-sidebar' class on the content
          backgroundimage.classList.toggle('open-sidebar');

          // Initially, hide adminOptions and show adminList
          adminList.style.display = 'block';
          adminOptions.style.display = 'none';
      });

      document.getElementById('adminView').addEventListener('click', function () {
          var adminOptions = document.getElementById('adminOptions');
          var adminList = document.getElementById('adminop');

          // Hide admin list and display admin view list
          adminList.style.display = 'none';
          adminOptions.style.display = 'block';
      });

      document.getElementById('adminv').addEventListener('click', function () {
          var adminOptions = document.getElementById('adminOptions');
          var adminList = document.getElementById('adminop');

          // Hide admin view list and display admin list
          adminOptions.style.display = 'none';
          adminList.style.display = 'block';
      });
  </script>
    <script>
        // Add a script to handle the "Cancel" button click event
        document.getElementById('cancelButton').addEventListener('click', function () {
            // Redirect to the index page
            window.location.href = '/';
        });
</script>  

</body>
</html>
